@import '../variables.scss';

.hero-container-main{
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width:768px){
        height: unset;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
    .hero-container{
        height: 100%;
        gap: 1.1em;

        h1{
            color: $white;
            text-align: center;
            font-family: inherit;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media(max-width:1101px){
                font-size: 2.3rem;
            }

            @media(max-width:768px){
                font-size: 1.8rem;
            }
            
        }

        a{
            color: $white!important;
            font-family: inherit;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        span{
            color: $white!important;
            font-family: inherit;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

.info-section-container-main{
    .info-section-container{
        .text-container{
            gap: 1.1em;
            @media(max-width:1101px){
                padding-right: 4em!important;
            }
            @media(max-width:768px){
                padding: 0px!important;
                text-align: center;
                align-items: center!important;
            }
            h2{
                color: $dark-blue;
                font-family: inherit;
                font-size: 2.1875rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @media(max-width:1101px){
                    font-size: 1.8rem;
                }

                @media(max-width:768px){
                    font-size: 1.7rem;
                }
            }

            p{
                color: $dark-grey-text;
                font-family: inherit;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140.6%; /* 1.356rem */
                @media(max-width:768px){
                    font-size: 0.9rem;
                }
            }
        }
    }

    .image-container{
        gap: 1em;
        @media(max-width:992px){
            width: 100%;
            gap: 0.2em;
        }
        .image{
            width: 32.1rem;
            height: calc(50% - 0.7em);
            border-radius: 0.9375rem;
            overflow: hidden;
            @media(max-width:992px){
                margin-top: 1.3em;
                height: 20rem;
                width: 100%;
            }
        }

        
    }
}