@import '../variables.scss';

.sm-contact-container-main{
    min-height: 60vh;
    background-image: url('/bgimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .sm-contact-container{
        gap: 1.8em;
        h3{
            color: $white;
            font-family: inherit;
            font-size: 2.9375rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media(max-width: 900px){
                font-size: 2rem;
            }

            @media(max-width: 768px){
                font-size: 1.5rem;
            }
        }

        .contact-items{
            gap: 1.4em;
            .item{
                gap: 1em;
                p{
                    color: $white;
                    font-family: inherit;
                    font-size: 1.875rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    @media(max-width: 900px){
                        font-size: 1.4rem;
                    }

                    @media(max-width: 768px){
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}