@import '../variables.scss';

.about-us-container-main{
    padding-top: 7.5em;
        padding-bottom: 7.5em;
        @media(max-width: 768px){
            padding-top: 3em;
            padding-bottom: 3em;
        }
    .about-us-container{
        .row{
            .image-container{
                padding-left: 2.5em;
                .image{
                    width: 27.5rem;
                    height: 24.625rem;
                }

                @media(max-width: 900px){
                    .image{
                        width: 20rem;
                        height: 15rem;
                    }
                }
            }

            .text-container{
                gap: 1.25em;
                padding-right: 2.5em;

                @media(max-width: 768px){
                    justify-content: center;
                    align-items: center!important;
                }
                h2{
                    color: $dark-blue;
                    text-align: left;
                    font-family: inherit;
                    font-size: 3.125rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    @media(max-width: 900px){
                        font-size: 2.8rem;
                    }

                    @media(max-width: 768px){
                        font-size: 2rem;
                        text-align: center;
                    }
                }

                p{
                    color: $light-grey-text;
                    font-family: inherit;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 139.2%; /* 1.392rem */
                    @media(max-width: 900px){
                        font-size: 0.9rem;
                    }

                    @media(max-width: 768px){
                        font-size: 0.7rem;
                        text-align: center;
                    }
                }

                @media(max-width: 768px){
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}