@import '../variables.scss';

.documents-required-container-main{
    .documents-requried-container{
        h2{
            color: $dark-blue;
            text-align: center;
            font-family: inherit;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .item-card-container{
            flex-wrap: wrap;
            row-gap: 2em;
            margin-top: 3em;
            .item{
                width: 20%;
                min-width: 22.4em!important;
                height: 19.5em;
                display: flex;
                padding: 1.6875rem;
                border-radius: 0.9375rem;
                background: #FFF;
                box-shadow: 0px 0px 13.9px 0px rgba(0, 0, 0, 0.45);
                gap: 0.81em;

                @media(max-width: 1200px){
                    width: 48%;
                    min-width: unset!important;
                }

                @media(max-width:990px){
                    width: 43%;
                    min-width: unset;
                }

                h4{
                    color: $dark-blue;
                    text-align: center;
                    font-family: inherit;
                    font-size: 1.6875rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }

                p{
                    color: $dark-grey-text;
                    font-family: inherit;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 135.6%; /* 1.356rem */
                }
            }
        }
    }
}