.contact-us-section .contact-us {
  height: 80vh;
  background-image: url("/contact-us-image.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.25rem;
  padding: 3.1em;
}
.contact-us-section .contact-us .text-content {
  height: 100%;
  position: relative;
}
.contact-us-section .contact-us .text-content h4 {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font-family: inherit;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-us-section .contact-us .text-content h5 {
  color: #fff;
  font-family: inherit;
  font-size: 2.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us .text-content h5 span {
  color: #1166EA;
}
.contact-us-section .contact-us .text-content p {
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-us-section .contact-us .text-content .contact-details {
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 1em;
}
.contact-us-section .contact-us .text-content .contact-details .contact-item {
  gap: 0.5em;
}
.contact-us-section .contact-us .contact-form {
  border-radius: 1.25rem;
  padding: 2em !important;
  background: linear-gradient(117deg, rgba(255, 255, 255, 0.75) 0.74%, rgba(255, 255, 255, 0.65) 100.93%);
  -webkit-backdrop-filter: blur(9.5500001907px);
          backdrop-filter: blur(9.5500001907px);
}
.contact-us-section .contact-us .contact-form form {
  margin-top: 1em;
  gap: 0.75em;
}
.contact-us-section .contact-us .contact-form form .row {
  margin: 0px !important;
  padding: 0px !important;
}
.contact-us-section .contact-us .contact-form form input {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  width: 48%;
  margin-bottom: 1em;
  transition: all 0.3s ease-out;
}
.contact-us-section .contact-us .contact-form form input::-moz-placeholder {
  color: #000;
  font-family: inherit;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us .contact-form form input::placeholder {
  color: #000;
  font-family: inherit;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us .contact-form form input:focus {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #1166EA;
}
.contact-us-section .contact-us .contact-form form input[type=text] {
  padding-bottom: 0.65rem !important;
}
.contact-us-section .contact-us .contact-form form input[type=email] {
  padding-bottom: 0.65rem !important;
  width: 100%;
}
.contact-us-section .contact-us .contact-form form textarea {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 1em;
  padding-bottom: 0.65rem !important;
  transition: all 0.3s ease-out;
}
.contact-us-section .contact-us .contact-form form textarea:focus {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #1166EA;
}
.contact-us-section .contact-us .contact-form form textarea::-moz-placeholder {
  color: #000;
  font-family: inherit;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us .contact-form form textarea::placeholder {
  color: #000;
  font-family: inherit;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us .contact-form form button {
  margin-top: 1.2em;
  background-color: #1166EA;
  border: none;
  display: flex;
  width: 7.625rem;
  height: 2.625rem;
  padding: 0.875rem 0.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #1166EA;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.contact-us-section .contact-us .contact-form form button:hover {
  color: #1166EA;
  background-color: #fff;
}/*# sourceMappingURL=contactsection.css.map */