@import '../variables.scss';

.contact-us-section{
    .contact-us{
        height: 80vh;
        background-image: url('/contact-us-image.png');
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        border-radius: 1.25rem;
        padding: 3.1em;

        @media(max-width: 900px){
            height: 90vh;
        }

        .text-content{
            height: 100%!important;
            position: relative;
            h4{
                position: absolute;
                top: 0px;
                left: 0px;
                color: $white;
                font-family: inherit;
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            h5{
                color: $white;
                font-family: inherit;
                font-size: 2.5625rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                span{
                    color: $blue-main;
                }
            }

            p{
                color: $white;
                font-family: inherit;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .contact-details{
                position: absolute;
                bottom: 0;
                left: 0;
                gap: 1em;

                .contact-item{
                    gap: 0.5em;
                }
            }
        }

        .contact-form{
            border-radius: 1.25rem;
            padding: 2em!important;
            background: linear-gradient(117deg, rgba(255, 255, 255, 0.75) 0.74%, rgba(255, 255, 255, 0.65) 100.93%);
            backdrop-filter: blur(9.550000190734863px);
            form{
                margin-top: 1em;
                gap: 0.75em;
                .row{
                    margin: 0px!important;
                    padding: 0px!important;
                }
                input{
                    margin: 0px!important;
                    padding: 0px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #000;
                    width: 48%;
                    margin-bottom: 1em;
                    transition: all .3s ease-out;
                }
                
                input::placeholder{
                    color: #000;
                    font-family: inherit;
                    font-size: 0.9375rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                input:focus{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $blue-main;
                }
                input[type="text"]{
                    padding-bottom: 0.65rem!important;
                }
                input[type="email"]{
                    padding-bottom: 0.65rem!important;
                    width: 100%;
                }
                textarea{
                    margin: 0px!important;
                    padding: 0px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #000;
                    margin-bottom: 1em;
                    padding-bottom: 0.65rem!important;
                    transition: all .3s ease-out;
                }
                textarea:focus{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $blue-main;
                }
                textarea::placeholder{
                    color: #000;
                    font-family: inherit;
                    font-size: 0.9375rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
    
                button{
                    margin-top: 1.2em;
                    background-color: $blue-main;
                    border: none;
                    display: flex;
                    width: 7.625rem;
                    height: 2.625rem;
                    padding: 0.875rem 0.4375rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.1875rem;
                    flex-shrink: 0;

                    border-radius: 0.3125rem;
                    background: #1166EA;

                    color: $white;

                    transition: all .3s ease-in-out;
                }

                button:hover{
                    color: $blue-main;
                    background-color: $white;
                }
            }
        }
    }
}